[submodule "fw/lib/cmp"]
	path = fw/lib/cmp
	url = https://github.com/camgunz/cmp.git
[submodule "fw/lib/cmp_mem_access"]
	path = fw/lib/cmp_mem_access
	url = https://github.com/Stapelzeiger/cmp_mem_access.git
[submodule "fw/lib/serial-datagram"]
	path = fw/lib/serial-datagram
	url = https://github.com/Stapelzeiger/serial-datagram.git
[submodule "fw/lib/crc"]
	path = fw/lib/crc
	url = https://github.com/cvra/CRC.git
